require "web_pipe"
require "<%= config[:underscored_project_name] %>/web"

module <%= config[:camel_cased_app_name] %>
  module Actions
    class Root
      include WebPipe

      compose :web, Web.new

      plug(:render) do |conn|
        conn.set_response_body('<html><body><h1>Welcome to dry-web-web_pipe!</h1></body></html>')
      end
    end
  end
end
