require "hanami/router"
require "<%= config[:underscored_project_name] %>/main/router"

module <%= config[:camel_cased_app_name] %>
  ROUTER = Hanami::Router.new do
    mount Main::ROUTER, at: '/'
  end
end
