require "hanami/router"
require "<%= config[:underscored_project_name] %>/container"

module <%= config[:camel_cased_app_name] %>
  ROUTER = Hanami::Router.new do
    root to: Container["actions.root"]
  end
end
